body {
  background-color: beige;
}
h1 {
  font-size: 50px;
  padding-top: 50px;
  color: white;
}
p {
  color: white;
  font-size: 25px;
}
form {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  color: skyblue;
  color: #497fab;
}

.current-temp {
  font-size: 100px;
  position: relative;
  top: -100px;
  right: -340px;
}

.city-details {
  border-radius: 10px;
  background-color: skyblue;
  margin-bottom: 100px;
}

.enter-city {
  border: none;
  border-radius: 7px;
  padding: 20px;
  margin-top: 20px;
  width: 85%;
}

.search-button {
  padding: 8px;
  border-radius: 7px;
  border-color: transparent;
  background-color: skyblue;
  transition: all 20ms ease-in-out;
  font-size: 20px;
}

.search-button:hover {
  background-color: #497fab;
}

.the-app {
  display: block;
  margin: 0px auto;
  max-width: 700px;
}
