body {
  background-color: beige;
}
h1 {
  font-size: 50px;
  padding-top: 50px;
  color: white;
}
p {
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
}
form {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  color: skyblue;
  color: #497fab;
}

.current-temp {
  display: flex;
  position: relative;
  margin-top: -170px;
  margin-left: 450px;
  margin-bottom: 100px;
  margin-right: 10px;
}

.material-symbols-outlined {
  font-size: 50px;
  margin-top: 22px;
  color: #000;
}

.current-temp-value {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 88px;
}

.current-temp-unit {
  margin-top: 16px;
  font-size: 28px;
}

.city-details {
  border-radius: 10px;
  background-color: skyblue;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.enter-city {
  border: none;
  border-radius: 7px;
  padding: 20px;
  margin-top: 20px;
  width: 85%;
}

.search-button {
  padding: 8px;
  border-radius: 7px;
  border-color: transparent;
  background-color: skyblue;
  transition: all 20ms ease-in-out;
  font-size: 20px;
}

.search-button:hover {
  background-color: #497fab;
}

.the-app {
  display: block;
  margin: 0px auto;
  max-width: 700px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
